@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(90deg, rgba(54, 234, 239, 1) 0%, rgba(107, 10, 201, 1) 100%);
  color: #333;
}